.item {
  background: white;
  border: 1px solid #cccccc;
  border-radius: 6px;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}


// BEM -Block, Element, Modifier
.item__message{
  color: #333333;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.item__message--empty {
  color: #999999;
}

.item--position-1 {
  background-color: #68ee5c;
}

.item--position-2 {
  background-color: #feb867;
}

.item--position-3 {
  background-color: #fbf16d;
}
